{erl_opts, [debug_info]}.
{deps, [
    {bson, {git, "git://github.com/bajankristof/bson.git", {branch, "main"}}},
    {poolboy, "~> 1.5"}
]}.

{shell, [
    {config, "sys.config"},
    {apps, [mango]}
]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {ct_opts, [{sys_config, "sys.config"}]}
    ]}
]}.
