[
    {kernel, [
        {logger_level, info}
    ]},
    {mango, [
        {connections, [
            {localhost, #{
                name => {local, localhost},
                database => mango
            }},
            {rs, #{
                name => {local, rs},
                seeds => ["mongodb-0.node.consul", "mongodb-1.node.consul", "mongodb-2.node.consul"],
                database => shared
            }}
        ]}
    ]}
].
